<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Material Select</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    
     <!-- Tableau Extensions API Library  -->
     <script src="../js/tableau-extensions-1.latest.js"></script>
     <script src="./select-configure.js"></script>
</head>
<body>
    <div class="" id="app">
        <div class="row center" style="margin-bottom: -10px;">
            <div class="col s12">
                <h5 class="red white-text lighten-2" style="padding:10px 0;">Materialize Select</h5>
            </div>
        </div>
        <form name="configuration-form" @submit.prevent="handleSubmit">

            <div class="row">
                <div class="col s12">
                    <h6 class="red-text  lighten-2">Setup</h6>
                </div>
                <div class="input-field col s12">
                    <select id="potential_filters" v-model="selectedSheet" @change="onSheetChange()">
                        <option value="" disabled></option>
                        <option v-for="s in sheets" v-bind:value="s">{{s}}</option>
                    </select>
                    <label>Worksheet</label>
                </div>
                <div class="input-field col s12">
                    <select id="potential_filters" v-model="selectedFilter" @change="onFilterChange()">
                        <option value="" disabled></option>
                        <option v-for="f in filters" v-bind:value="f">{{f}}</option>
                    </select>
                    <label>Filter</label>
                </div>
            </div>

            <div  v-if="selectedSheet && selectedFilter">

                
                <div class="row">
                    <div class="col s12">
                        <h6 class="red-text  lighten-2">Customize</h6>
                        <br>
                    </div>

                    <div class="input-field col s12">
                        <input id="select_label" name="selectLabel" type="text" class="validate" required v-model="label">
                        <label for="select_label">A friendly label for your select</label>
                    </div>
        
                    <div class="input-field col s12">
                        <input id="select_placeholder" name="selectPlaceholder" type="text" class="validate" v-model="placeholder" >
                        <label for="select_placeholder">Placeholder text when no value selected</label>
                    </div>

                    <div class="col s12">
                        <p>Type of select</p>
                        <div class="switch">
                            <label>
                                Single
                                <input type="checkbox" v-model="multiple" @change="selectify()">
                                <span class="lever"></span>
                                Multiple
                            </label>
                            {{multiple}}
                        </div>
                    </div>
        
                    
                </div>

                <div class="row">
                    <div class="col s12">
                        <h6 class="red-text  lighten-2">Review</h6>
                        <small>Here is a preview of your select</small>
                        <br><br>
                    </div>

                    <div class="input-field col s12" style="margin-top: 20px;">
                        <select id="potential_filters" v-bind:multiple="multiple">
                            <option value="" disabled>{{placeholder}}</option>
                            <option v-for="v in values" v-bind:value="v" disabled>{{v}}</option>
                        </select>
                        <label>{{label}}</label>
                    </div>
                </div>

                <div class="row center">
                    <button class="btn red  lighten-2  waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </div>
        
        </form>
        <!-- <form name="configureForm" id="formSelect">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Friendly label" id="select_label" name="selectLabel" type="text" class="validate" required>
                    <label for="select_label">Label</label>
                </div>
                <div class="input-field col s12">
                    <input placeholder="Enter placeholder text" id="select_placeholder" name="selectPlaceholder" type="text" class="validate">
                    <label for="select_placeholder">Placeholder</label>
                </div>
                <div class="input-field col s12">
                    <select id="potential_worksheets">
                        
                    </select>
                    <label>Worksheets</label>
                </div>
                <div class="input-field col s12">
                    <select id="potential_filters">
                        <option value="" disabled selected>Choose a filter</option>
                    </select>
                    <label>Filters</label>
                </div>
            </div>

            <div class="row center">
                <button class="btn red  lighten-2  waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form> -->
    </div>
</body>
</html>